<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="footer-connect">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 col-sm-12 offset-md-0">
            <div class="footer-social">
              <h5 class="follow-heading">Check us out on Facebook, Twitter and Google+</h5>
              <div class="footer-social-icons">
                <a target="_blank" href="https://www.facebook.com/pg/nobletyres" title="Facebook">
                  <i class="fa  fa-facebook"></i>
                </a>
                <a target="_blank" href="https://twitter.com/NobleTyres" title="Twitter">
                  <i class="fa  fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.google.com/maps/place/Noble+Tyres++Exhausts+LTD/@51.696547,-3.417543,17z/data=!4m5!3m4!1s0x0:0x93fe36eabb4f456!8m2!3d51.696578!4d-3.4175921?hl=en-GB" title="Google+">
                  <i class="fa  fa-google"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-info">
      <div class="container">
        <div class="btt">
          <a class="back-to-top" href="#page" title="Back To Top">
            <i class="fa fa-angle-double-up wow flash" data-wow-duration="2s"></i>
          </a>
        </div> Copyright &copy; 2024 Noble Tyres &amp; Exhausts LTD
      </div>
    </div>
  </footer>