<header id="masthead" class="site-header header-contained is-sticky no-scroll no-t h-on-top" role="banner">
    <div class="container">
    <div class="site-branding">
        <div class="site-brand-inner no-logo-img has-title has-desc">
        <h1 class="site-title">
            <a class="site-text-logo" href="#" rel="home">Noble Tyres &amp; Exhausts LTD</a>
        </h1>
        <p class="site-description">NOBLE TYRES &amp; EXHAUSTS. 1ST CHOICE CAR GARAGE FOR TYRES, EXHAUSTS, BRAKES, MOT AND SERVICING IN ABERDARE</p>
        </div>
    </div>
    <div class="header-right-wrapper">
        <a href="#0" id="nav-toggle">Menu <span></span>
        </a>
        <nav id="site-navigation" class="main-navigation" role="navigation">
        <ul class="onepress-menu">
            <li id="menu-item-10398" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10398">
            <a href="#" aria-current="page">Home</a>
            </li>
            <li id="menu-item-10339" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10339">
            <a href="#services" aria-current="page">Services</a>
            </li>
            <li id="menu-item-10333" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10333">
            <a href="#about" aria-current="page">About</a>
            </li>
            <li id="menu-item-10334" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10334">
            <a href="#products" aria-current="page">Products</a>
            </li>
            <li id="menu-item-10338" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10338">
            <a href="#contact" aria-current="page">Contact</a>
            </li>
        </ul>
        </nav>
    </div>
    </div>
</header>