<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="profile" href="https://gmpg.org/xfn/11">
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
        <title>Noble Tyres &amp; Exhausts LTD</title>
        <meta name="description" content="Noble Tyres &amp; Exhausts. 1st Choice car garage for Tyres, Exhausts, Brakes, MOT and Servicing in Aberdare. We are a friendly, family-run Garage that service the local area and the surroundings of Aberdare." />
        <link rel="canonical" href="https://nobletyres.com/" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Noble Tyres &amp; Exhausts LTD" />
        <meta property="og:description" content="Noble Tyres &amp; Exhausts. 1st Choice car garage for Tyres, Exhausts, Brakes, MOT and Servicing in Aberdare. We are a friendly, family-run Garage that service the local area and the surroundings of Aberdare." />
        <meta property="og:url" content="https://nobletyres.com/" />
        <meta property="og:site_name" content="Noble Tyres &amp; Exhausts LTD" />
        <meta property="article:publisher" content="https://nobletyres.com/" />
        <meta property="article:modified_time" content="2019-10-02T14:21:55+00:00" />
        <meta property="og:image" content="./images/rsz_120130207_113738.webp" />
        <meta property="og:image:width" content="816" />
        <meta property="og:image:height" content="546" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta name="msvalidate.01" content="9C0F3A106EBEBAC60A4B14C62F9F8C1C" />
        <meta name="google-site-verification" content="rKFA0God7NwX7n63WFiVlnHMCN3xkUgj_KYLjI28kI0" />
        <meta name="yandex-verification" content="be7d793bf1e7f461" />
        <meta name="geo.placename" content="Aberdare" />
        <meta name="geo.position" content="51.69669330009156;-3.417500084654438" />
        <meta name="geo.region" content="United Kingdom (UK)" />
        <link rel="dns-prefetch" href="//www.googletagmanager.com" />
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />
        <link rel="stylesheet" id="wp-block-library-css" href="./css/wp-block-library-css.min.css?ver=6.6.2" type="text/css" media="all" />
        <link rel="stylesheet" id="wp-block-library-theme-inline-css" href="./css/wp-block-library-theme-inline-css.min.css" type="text/css" media="all" />
        <!-- Critical CSS -->
        <style type="text/css">{% include_relative css/critical.css %}</style>
        <link crossorigin="anonymous" rel="stylesheet" id="onepress-fonts-css" href="https://fonts.googleapis.com/css?family=Raleway%3A400%2C500%2C600%2C700%2C300%2C100%2C800%2C900%7COpen+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext&#038;display=swap&#038;ver=2.3.10" type="text/css" media="all" />
        <link rel="stylesheet" id="onepress-animate-css" href="./css/animate.min.css?ver=2.3.10" type="text/css" media="all" />
        <link rel="stylesheet" id="onepress-fa-shims-css" href="./css/v4-shims.min.css?ver=6.5.1" type="text/css" media="all" />
        <link rel="stylesheet" id="onepress-bootstrap-css" href="./css/bootstrap.min.css?ver=2.3.10" type="text/css" media="all" />
        <link rel="stylesheet" id="onepress-style-css" href="./css/onepress-style-css.min.css" type="text/css" media="all" />
        <link rel="stylesheet" id="onepress-style-inline-css" href="./css/onepress-style-inline-css.min.css" type="text/css" media="all" />
        <link rel="stylesheet" id="onepress-gallery-lightgallery-css" href="./css/lightgallery.min.css?ver=6.6.2" type="text/css" media="all" />
        <script type="text/javascript" src="./js/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
        <script type="text/javascript" src="./js/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js" defer data-deferred="1"></script>
        <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-3QBWP2GB2L" id="google_gtagjs-js" defer data-deferred="1"></script>
        <script type="text/javascript" id="google_gtagjs-js-after" src="data:text/javascript;base64,d2luZG93LmRhdGFMYXllcj13aW5kb3cuZGF0YUxheWVyfHxbXTtmdW5jdGlvbiBndGFnKCl7ZGF0YUxheWVyLnB1c2goYXJndW1lbnRzKX0KZ3RhZygic2V0IiwibGlua2VyIix7ImRvbWFpbnMiOlsibm9ibGV0eXJlcy5jb20iXX0pO2d0YWcoImpzIixuZXcgRGF0ZSgpKTtndGFnKCJzZXQiLCJkZXZlbG9wZXJfaWQuZFpUTmlNVCIsITApO2d0YWcoImNvbmZpZyIsIkctM1FCV1AyR0IyTCIp" defer></script>
        <link rel="shortlink" href="https://nobletyres.com/" />
        <meta name="generator" content="Site Kit by Google 1.137.0" />
        <meta name="google-adsense-platform-account" content="ca-host-pub-2644536267352236">
        <meta name="google-adsense-platform-domain" content="sitekit.withgoogle.com">
        <link rel="icon" href="./images/favicon32x32.webp" sizes="32x32" />
        <link rel="icon" href="./images/favicon192x192.webp" sizes="192x192" />
        <link rel="apple-touch-icon" href="./images/favicon180x180.webp" />
        <meta name="msapplication-TileImage" content="./images/favicon270x270.webp" />
        </head>
        <body data-rsssl="1" class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-10340"></body>
            <!-- Main Content -->
            <main id="main" role="main">
                {{ content }}
            </main>

            <!-- Footer -->
            {% include footer.html %}
        </body>
        <link rel="stylesheet" id="remove-style-meta-css" href="./css/entrymetastyle.min.css?ver=1.0" type="text/css" media="all" />
        <link rel="stylesheet" id="fontawesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script type="text/javascript" src="./js/isotope.pkgd.min.js?ver=2.3.10" id="onepress-gallery-masonry-js" defer data-deferred="1"></script>
        <script type="text/javascript" id="onepress-theme-js-extra" src="data:text/javascript;base64,dmFyIG9uZXByZXNzX2pzX3NldHRpbmdzPXsib25lcHJlc3NfZGlzYWJsZV9hbmltYXRpb24iOiIiLCJvbmVwcmVzc19kaXNhYmxlX3N0aWNreV9oZWFkZXIiOiIiLCJvbmVwcmVzc192ZXJ0aWNhbF9hbGlnbl9tZW51IjoiIiwiaGVyb19hbmltYXRpb24iOiJmbGlwSW5YIiwiaGVyb19zcGVlZCI6IjUwMDAiLCJoZXJvX2ZhZGUiOiI3NTAiLCJzdWJtZW51X3dpZHRoIjoiMCIsImhlcm9fZHVyYXRpb24iOiI1MDAwIiwiaGVyb19kaXNhYmxlX3ByZWxvYWQiOiIiLCJkaXNhYmxlZF9nb29nbGVfZm9udCI6IiIsImlzX2hvbWUiOiIiLCJnYWxsZXJ5X2VuYWJsZSI6IjEiLCJpc19ydGwiOiIiLCJwYXJhbGxheF9zcGVlZCI6IjAuNSJ9" defer></script>
        <script type="text/javascript" src="./js/theme-all.min.js?ver=2.3.10" id="onepress-theme-js" defer data-deferred="1"></script>
        <script type="text/javascript" id="jquery.bully-js-extra" src="data:text/javascript;base64,dmFyIE9uZXByZXNzX0J1bGx5PXsiZW5hYmxlX2xhYmVsIjoiMSIsImRpc2FibGVfbW9iaWxlIjoiIiwic2VjdGlvbnMiOnsiaGVybyI6eyJpZCI6Imhlcm8iLCJfaWQiOiJoZXJvIiwiaW52ZXJzZSI6ITEsImVuYWJsZSI6ITEsInRpdGxlIjoiSG9tZSJ9LCJzZXJ2aWNlcyI6eyJpZCI6InNlcnZpY2VzIiwiX2lkIjoiZmVhdHVyZXMiLCJpbnZlcnNlIjohMSwiZW5hYmxlIjohMSwidGl0bGUiOiJPdXIgU2VydmljZXMifSwiYWJvdXQiOnsiaWQiOiJhYm91dCIsIl9pZCI6ImFib3V0IiwiaW52ZXJzZSI6ITEsImVuYWJsZSI6ITEsInRpdGxlIjoiQWJvdXQgVXMifSwicHJvZHVjdHMiOnsiaWQiOiJwcm9kdWN0cyIsIl9pZCI6InNlcnZpY2VzIiwiaW52ZXJzZSI6ITEsImVuYWJsZSI6ITEsInRpdGxlIjoiT3VyIFByb2R1Y3RzIn0sImNvbnRhY3QiOnsiaWQiOiJjb250YWN0IiwiX2lkIjoiY29udGFjdCIsImludmVyc2UiOiExLCJlbmFibGUiOiExLCJ0aXRsZSI6IkdldCBpbiB0b3VjaCJ9fX0=" defer></script>
        <script type="text/javascript" src="./js/jquery.bully.js?ver=6.6.2" id="jquery.bully-js" defer data-deferred="1"></script>
        <script src="/js/main.min.js" data-no-optimize="1" defer></script>
  </html>