<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Primary Meta Tags -->
    <title>Noble Tyres & Exhausts | Car Garage Aberdare | MOT Testing from £35</title>
    <meta name="description" content="Expert car garage in Aberdare offering MOT testing from £35, tyre fitting, brake repairs and servicing. Family-run with IMI certified technicians. Call 01685 874476.">
    <meta name="keywords" content="car garage Aberdare, MOT testing, tyre fitting, brake repairs, car servicing, Noble Tyres">

    <!-- Resource Hints -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>

    <!-- Schema.org Markup -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "AutoRepair",
        "name": "Noble Tyres & Exhausts",
        "image": "https://nobletyres.com/images/noble-tyres-and-exhaust-front-garage-aberaman-aberdare.webp",
        "description": "Expert car garage in Aberdare offering MOT testing from £35, tyre fitting, brake repairs and servicing. Family-run with IMI certified technicians.",
        "@id": "https://nobletyres.com",
        "url": "https://nobletyres.com",
        "telephone": "01685874476",
        "priceRange": "££",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Unit 3 C1 Trade Park, Aberaman",
            "addressLocality": "Aberdare",
            "postalCode": "CF44 6DA",
            "addressRegion": "Wales",
            "addressCountry": "GB"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 51.69669330009156,
            "longitude": -3.417500084654438
        },
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
                "opens": "08:30",
                "closes": "17:30"
            },
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": "Saturday",
                "opens": "08:30",
                "closes": "12:30"
            }
        ],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.8",
            "reviewCount": "127"
        }
    }
    </script>

    <!-- Open Graph Tags -->
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Noble Tyres & Exhausts | Car Garage Aberdare">
    <meta property="og:description" content="Expert car garage offering MOT testing from £35, tyre fitting, brake repairs and servicing in Aberdare. Family-run with IMI certified technicians.">
    <meta property="og:url" content="https://nobletyres.com/">
    <meta property="og:image" content="https://nobletyres.com/images/noble-tyres-and-exhaust-front-garage-aberaman-aberdare.webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/webp">
    <meta property="business:contact_data:street_address" content="Unit 3 C1 Trade Park, Aberaman">
    <meta property="business:contact_data:locality" content="Aberdare">
    <meta property="business:contact_data:postal_code" content="CF44 6DA">
    <meta property="business:contact_data:country_name" content="United Kingdom">
    <meta property="business:contact_data:phone_number" content="01685 874476">

    <!-- Existing CSS -->
    <link rel="stylesheet" id="wp-block-library-css" href="./css/wp-block-library-css.min.css?ver=6.6.2" type="text/css" media="all" />
    <link rel="stylesheet" id="wp-block-library-theme-inline-css" href="./css/wp-block-library-theme-inline-css.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="onepress-animate-css" href="./css/animate.min.css?ver=2.3.10" type="text/css" media="all" />
    <link rel="stylesheet" id="onepress-fa-shims-css" href="./css/v4-shims.min.css?ver=6.5.1" type="text/css" media="all" />
    <link rel="stylesheet" id="onepress-bootstrap-css" href="./css/bootstrap.min.css?ver=2.3.10" type="text/css" media="all" />
    <link rel="stylesheet" id="onepress-style-css" href="./css/onepress-style-css.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="onepress-style-inline-css" href="./css/onepress-style-inline-css.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="onepress-gallery-lightgallery-css" href="./css/lightgallery.min.css?ver=6.6.2" type="text/css" media="all" />
    <link rel="stylesheet" id="remove-style-meta-css" href="./css/entrymetastyle.min.css?ver=1.0" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Favicons -->
    <link rel="icon" href="./images/favicon32x32.webp" sizes="32x32" type="image/webp">
    <link rel="icon" href="./images/favicon192x192.webp" sizes="192x192" type="image/webp">
    <link rel="apple-touch-icon" href="./images/favicon180x180.webp">
    <meta name="theme-color" content="#004d99">

    <!-- Analytics with Privacy Controls -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3QBWP2GB2L"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3QBWP2GB2L', {
            'anonymize_ip': true,
            'cookie_flags': 'SameSite=None;Secure'
        });
    </script>
</head>

<body class="home" itemscope itemtype="http://schema.org/WebPage">
    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

    {% include header.html %}

    <main id="main" role="main">
        {{ content }}
    </main>

    {% include footer.html %}

    <!-- Existing JavaScript -->
    <script type="text/javascript" src="./js/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
    <script type="text/javascript" src="./js/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js" defer data-deferred="1"></script>
    <script type="text/javascript" src="./js/isotope.pkgd.min.js?ver=2.3.10" id="onepress-gallery-masonry-js" defer data-deferred="1"></script>
    <script type="text/javascript" src="./js/theme-all.min.js?ver=2.3.10" id="onepress-theme-js" defer data-deferred="1"></script>
            <script type="text/javascript" src="./js/jquery.bully.js?ver=6.6.2" id="jquery.bully-js" defer data-deferred="1"></script>
</body>
</html>